/* font imported from google */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 1170px;
    margin: 0 auto;
}

footer {
    background-color: rgba(19, 19, 24, 0.05);
}

main {
    width: 1170px;
    margin: 0 auto;
}

.btn-primary {
    border-radius: 8px;
    border: none;
    background-color: #FF5400;
    padding: 14px 35px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 800;
    cursor: pointer;
}

.section-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section-des {
    width: 643px;
    margin: 25px auto 50px auto;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}


/* Header section styles */

.header {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-black {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.logo-orange {
    color: #FF5400;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 2.5rem;
    font-weight: 500;
    font-size: 1.125;
}

.humburger {
    display: none;
}

.humburger a {
    font-size: 35px;
}

nav li a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

nav li a:hover {
    color: #FF5400;
    font-weight: 700;
}


/* start explore */
/* Hero section styles */

.explore {
    padding: 106px 0;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.explore-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}

.explore-des {
    margin-top: 25px;
    margin-bottom: 45px;
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.explore-form {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

input[type=text],
select {
    width: 100%;
    padding: 16px 35px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    text-align: start;
    font-size: 16px;
    font-weight: 400;
    border: none;
}

.submit {
    width: 100%;
    background: #FF5400;
    color: #fff;
    padding: 16px 35px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    border: none;
}

/* popular section */
.popular {
    margin: 100px 0;
   display: flex;
   align-items: center;
   gap: 70px;
}

.popular-title {

color: #131318;
   font-weight: 800;
   font-size: 40px
}


.popular img {

   width: 100%;
  
}



.popular-des p, li {
margin: 24px 0;
}


.popular-description {
    margin: 30px 0;
   color: rgba(19, 19, 24, 0.70);
   font-size: 16px;
   font-weight: 400;
}
/* destinations */
.Maldives,
.Indonesia,
.Srilanka,
.North-America,
.Kashmir,
.Bangladesh
.Bandarban {
    width: 100%;
    padding: 132px 0;
    text-align: center;
    border-radius: 16px;
}

.Maldives {
    grid-area: Maldives;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 5.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.Indonesia {
    grid-area: Indonesia;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 8.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.Srilanka {
    grid-area: Srilanka;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 6.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.North-America {
    grid-area: North-America;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 7.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.Kashmir {
    grid-area: Kashmir;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 9.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.Bangladesh {
    grid-area: Bangladesh;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 11.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.Bandarban {
    grid-area: Bandarban;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 10.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.destination-container {
    gap: 24px;
    display: grid;
    grid-template-areas:
        "Maldives  Maldives  Indonesia  Indonesia"
        "Srilanka  North-America  North-America  Kashmir"
        "Bangladesh Bangladesh  Bandarban   Bandarban"
    ;
}

.destination-container h4 {
    color: #FFF;
    font-size: 28px;
    font-weight: 800;}


/* why choose us */
.why{
    margin: 100px 0;
    
}
.card-container {
    display: flex;
    justify-content: space-between;
}
.card-container2{
 display: flex;
 justify-content: center;

}

.card {
    width: 603px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: #948c830d;
    margin: 10px;
    padding: 20px;

}

#color1 {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

#color2 {
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.card img {
    width: 50px;
    height: 50px;
    margin-bottom: 13px;
}

.card-content h5 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-top: 14px;

}

.why h2 {
    margin-top: 70px;
    text-align: center;
    color: #131318;
    font-size: 40px;
    font-weight: 800;

}

#card-des {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 25px;
}

.card-content p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin-top: 11px;
    /* 162.5% */
}

/* Deal section styles */

.deal-col {
    padding: 56px;
    background-image: url('../Images/Group\ 39.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.deal-col-mid {
    background-image: url('../Images/Group\ 40.png');
    display: flex;
    justify-content: flex-start;
}

.deal-card {
    width: 579px;
    padding: 50px 77px 50px 50px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
}

.deal-counter {
    display: flex;
    gap: 24px;
    align-items: center;
}

.per-icon {
    gap: 10px;
    display: flex;
    align-items: center;
}

.per-icon h6 {
    align-items: center;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}

.deal-card-title {
    margin: 20px 0;
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.deal-card-des {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.deal-card-price {
    margin: 20px 0;
    color: #FF5400;
    font-size: 1.25rem;
    font-weight: 800;
}

.deal-btn {
    text-align: center;
}
Simpl place css

/*simple  Place section styles */

.simple-place {
    margin: 100px 0;
    display: flex;
    align-items: center;
    gap: 25px;
}

.simple-place-content-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
}

.simple-place-content{
    max-width: 50%;
}

.simple-place-content-des {
    margin: 24px 0;
}

.simple-place-content-des p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.simple-place-content-des li {
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

video {
    border-radius: 16px;
    width: 100%;
    height: 424px;
}

/* Newsletter section styles */


.newsletter {
    margin-bottom: 100px;
    display: flex;
    gap: 24px;
    align-items: center;
}

.newsletter-content {
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.newsletter-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.newsletter-des {
    margin: 24px 0;
    padding-bottom: 20px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);
}

.newsletter-form input[type="text"],
.newsletter-form input[type="email"] {
    display: block;
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    padding: 16px 20px;
    border-radius: 8px;
    background-color: rgba(19, 19, 24, 0.05);
    margin-bottom: 16px;
    border: none;
}

.newsletter-form input[type="submit"] {
    border-radius: 8px;
    background-color: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    width: 100%;
    padding: 14px;
    border: none;
}
/* Footer section styles */
.footer {
    width: 1170px;
    margin: 0 auto;
    padding: 110px;
}

.footer-logo {
    display: flex;
    justify-content: center;
}

.footer-container{
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);
    ;
}

.footer-paragraph{
    width: 769px;
    margin: 24px auto;
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.footer-social-icons{
    display: flex;
    gap: 24px;
    justify-content: center;
}
.copy-right {
    margin-top: 50px;
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
}

/* responsive styles */
/* mobile device */

@media screen and (max-width:600px) {
    header, .footer {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .header {
        padding: 20px 0;
    }

    main {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .humburger {
        display: block;
    }

    .menu-items {
        display: none;
    }

    .explore {
        padding: 20px;
        border-radius: 16px;
    }

    .explore-title,
    .section-title {
        font-size: 1.375rem;
    }

    .explore-des,
    .section-des {
        width: 100%;
        font-size: 14px;
        margin: 20px auto 20px auto;
        padding: 0 20px;
    }

    .explore-form {
        gap: 15px;
        display: flex;
        flex-direction: column;
    }

    Responsive



    .popular {
          margin: 25px 0;
          flex-direction: column;
      }
  
      .destination-container {
          grid-template-areas:
              "Maldives"
              "Indonesia"
              "Srilanka"
              "North-America"
              "Kashmir"
              "Bangladesh"
              "Bandarban"
          ;
  
      }
  
  
  
  
  -why choose
  
  
  
    .why-choose-container{
          margin: 24px 0;
      }
  
      .card-container {
          gap: 24px;
          display: grid;
          flex-direction: column;
      }
  
      .card-container-2 {
          display: flex;
          justify-content: center;
      }
  
      .card{
          width: 100%;
          padding: 32px;
      }
  
  /* simple place section */
  
  
     .place{
          margin: 24px 0;
          display: grid;
          flex-direction: column;
      }
  
      .place-left{
          max-width: 100%;
      }
      
  
  
      .newsletter {
          margin-bottom: 24px;
          display: grid;
          flex-direction: column;
      }
  
      .newsletter-2 img{
          width: 100%;
      }
  
  
  
      .footer-paragraph{
          width: 100%;
      }
      .destination {
        padding: 30px;
    }

    .popular video {
        width: 100%;
        height: 100%;
        margin-top: 5px;
    }
    .footer hr{
        width: 100%;
    }
.footer{
    
}
.deal {
    margin: 24px 0;
}

.deal-col {
    padding: 8rem 1rem 1rem 1rem;
}

.deal-card {
    width: 100%;
    padding: 24px;
}
  
  }
    


